packages:
  darshan-util:
    require: +bzip2
  darshan-runtime:
    require: +mpi
  dyninst:
    require: +openmp ~static
  hpctoolkit:
    require: +mpi +papi +python
  papi:
    require: +example +shared +static_tools
  tau:
    require:
      - +binutils +elf +libdwarf libunwind=shared +mpi +otf2 +pdt +papi +pthreads +python
    prefer:
      - +comm
    conflict:
      - spec: +comm
        when: "@:2.34"
  gcc:
    externals:
      - spec: gcc@12.3.0 languages:='c,c++,fortran'
        prefix: /usr
        extra_attributes:
          compilers:
            c: /usr/bin/gcc-12
            cxx: /usr/bin/g++-12
            fortran: /usr/bin/gfortran-12
          flags: {}
          environment:
            append_path:
              PKG_CONFIG_PATH: /usr/lib64/pkgconfig
          extra_rpaths: []
